<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e064d13-1220-454b-ad35-b304ad0def76" Alias="Produkt - pris - Decimal" Level="1">
  <Info>
    <Name>Produkt - pris - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>