<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad0ffb3d-51f5-44fa-8042-eb514797785c" Alias="1000 F 582030895 Iiodwouwdlzjlb0vayh2opzckamfv7dk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F582030895Iiodwouwdlzjlb0vayh2opzckamfv7dk</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-24T15:39:58</CreateDate>
    <NodeName Default="1000 F 582030895 Iiodwouwdlzjlb0vayh2opzckamfv7dk" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hp3b5lpv/1000_f_582030895_iiodwouwdlzjlb0vayh2opzckamfv7dk.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>