<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2395753-d3d5-4bf4-8b71-98597b013c72" Alias="C D X PDX A 82Obo Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CDXPDXA82OboUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-24T15:37:58</CreateDate>
    <NodeName Default="C D X PDX A 82Obo Unsplash" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kvldtuwv/c-d-x-pdx_a_82obo-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>