<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7b90358-891e-40fe-8d6c-86397ebb1906" Alias="Joan Tran Reeysfadyjq Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JoanTranReeysfadyjqUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-24T15:13:21</CreateDate>
    <NodeName Default="Joan Tran Reeysfadyjq Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lybltjy4/joan-tran-reeysfadyjq-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>