<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fdd0639-8bc7-4ad9-9af2-da39adc16be1" Alias="Product Page 02 Featured Product Shot" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProductPage02FeaturedProductShot</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-24T15:35:58</CreateDate>
    <NodeName Default="Product Page 02 Featured Product Shot" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h2dn0l4h/product-page-02-featured-product-shot.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>