<?xml version="1.0" encoding="utf-8"?>
<Content Key="9395ed1e-e635-4dd5-b329-4035e8fda5e9" Alias="contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contact</Path>
    <Trashed>false</Trashed>
    <ContentType>KontaktSide</ContentType>
    <CreateDate>2025-04-24T15:23:52</CreateDate>
    <NodeName Default="contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dcb87c0-2fb2-4d03-812f-ee8d4a6fd193">KontaktSideTemplate</Template>
  </Info>
  <Properties>
    <adresse>
      <Value><![CDATA[Kong Eriks Have, Smorun]]></Value>
    </adresse>
    <beskrivelse>
      <Value><![CDATA[Hvis du har...]]></Value>
    </beskrivelse>
    <email>
      <Value><![CDATA[nemo.spaske@live.com]]></Value>
    </email>
    <kort>
      <Value><![CDATA[https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d72000.4852654624!2d12.511252941314112!3d55.6713364499314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652533c5c803d23%3A0x4dd7edde69467b8!2sCopenhagen!5e0!3m2!1sen!2sdk!4v1745502046078!5m2!1sen!2sdk]]></Value>
    </kort>
    <sidetitel>
      <Value><![CDATA[Kontakt os]]></Value>
    </sidetitel>
    <telefonnummer>
      <Value><![CDATA[+45 71663966]]></Value>
    </telefonnummer>
  </Properties>
</Content>