<?xml version="1.0" encoding="utf-8"?>
<Content Key="96a816ef-6842-4af2-8fdc-4be9a07300d3" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-04-24T15:09:00</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e82a88a8-0e7e-42c1-b99e-9dea991af675">HomePage</Template>
  </Info>
  <Properties>
    <heroBeskrivelse>
      <Value><![CDATA[Her finder du en nøje udvalgt kollektion af kvalitetsprodukter, designet med fokus på funktionalitet, æstetik og brugervenlighed.  Udforsk vores udvalg og find det, der passer til dig. Vi opdaterer løbende med nye varer og spændende nyheder.]]></Value>
    </heroBeskrivelse>
    <hvorforVLgeOs>
      <Value><![CDATA[Hvorfor vælge os?]]></Value>
    </hvorforVLgeOs>
    <title>
      <Value><![CDATA[Velkommen til vores hjemmeside !]]></Value>
    </title>
  </Properties>
</Content>