<?xml version="1.0" encoding="utf-8"?>
<Content Key="039d381d-b9e0-419a-a161-2d60cbd94ad1" Alias="products" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/products</Path>
    <Trashed>false</Trashed>
    <ContentType>produktside</ContentType>
    <CreateDate>2025-04-24T15:11:40</CreateDate>
    <NodeName Default="products" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2e54af0d-ff6a-41be-a149-63f30485d4e3">produktTemplate</Template>
  </Info>
  <Properties>
    <sidetitel>
      <Value><![CDATA[Produkter]]></Value>
    </sidetitel>
  </Properties>
</Content>